# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "C:/Users/Vinny/Desktop/Vinny/School/DS311-Technologies-in-Data-Analytic-FA23/Week_03_Pandas_and_Matplotlib/Lab_Assignment/data/schools_complete.csv"
student_data_to_load = "C:/Users/Vinny/Desktop/Vinny/School/DS311-Technologies-in-Data-Analytic-FA23/Week_03_Pandas_and_Matplotlib/Lab_Assignment/data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
# Create a District Summary
school_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [15]:
# Total number of schools
school_complete['School ID'].nunique()

15

In [12]:
# Total number of students
len(school_complete['Student ID'])

39170

In [113]:
# Total budget
sum(school_complete['budget'].unique())

24649428

In [24]:
# Average math score
school_complete['math_score'].mean()

78.98537145774827

In [25]:
# Average reading score
school_complete['reading_score'].mean()

81.87784018381414

In [26]:
# Overall average score
(school_complete['math_score'].mean() + school_complete['reading_score'].mean())/2

80.43160582078121

In [175]:
# Percentage of passing math (70 or greater)
len(school_complete[school_complete['math_score']>=70])/len(school_complete['math_score'])

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [199]:
#  Sort and display the top five schools in overall passing rate

passing=school_complete[(school_complete['math_score']>=70) & (school_complete['reading_score']>=70)]

passing.groupby('School ID')['math_score'].size()/school_complete.groupby('School ID')['math_score'].size()

rate=(passing.groupby('School ID')['math_score'].size()+passing.groupby('School ID')['reading_score'].size())/(2*school_complete.groupby('School ID')['math_score'].size())

rate.sort_values(ascending=False).head(5)

School ID
6     0.913348
14    0.909480
4     0.905995
5     0.905826
9     0.905405
dtype: float64

In [120]:
# Calculate total school budget

budg=school_complete.groupby('School ID')['budget'].unique()
budg

# This shows the total budget for each school

School ID
0     [1910635]
1     [1884411]
2     [1056600]
3     [3022020]
4      [917500]
5     [1319574]
6     [1081356]
7     [3124928]
8      [248087]
9      [585858]
10    [1049400]
11    [2547363]
12    [3094650]
13    [1763916]
14    [1043130]
Name: budget, dtype: object

In [124]:
# Calculate per student budget
stud=school_complete.groupby('School ID')['Student ID'].nunique()
budg/stud

# This shows the budget per student for each school

School ID
0     [655.0]
1     [639.0]
2     [600.0]
3     [652.0]
4     [625.0]
5     [578.0]
6     [582.0]
7     [628.0]
8     [581.0]
9     [609.0]
10    [583.0]
11    [637.0]
12    [650.0]
13    [644.0]
14    [638.0]
dtype: object

In [109]:
# Cacluate the avg math and reading score
print(school_complete['math_score'].mean())
print(school_complete['reading_score'].mean())

78.98537145774827
81.87784018381414

#### Find the passing rate for math and reading (above 70 points)

In [97]:
# Find the total counts of math result
math_total=len(school_complete['math_score'])

# Find the counts for math result in each school that pass 70 or higher
math_pass=len(school_complete[school_complete['math_score']>=70])

# Calculate the math passing rate
math_overall=math_pass/math_total
math_overall

0.749808526933878

In [98]:
# Find the total counts of read result
read_total=len(school_complete['reading_score'])

# Find the counts for read result in each school that pass 70 or higher
read_pass=len(school_complete[school_complete['reading_score']>=70])

# Calculate the read passing rate
read_overall=read_pass/read_total
read_overall

0.8580546336482001

In [99]:
# Calculate the overall passing rate (average of the math and reading passing rate)
(math_overall+read_overall)/2

0.8039315802910391

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#  Sort and display the worst five schools in overall passing rate

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [152]:
# Create table that lists the average math score for each school of each grade level.

school_complete.groupby('grade')['math_score'].mean()

grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659
Name: math_score, dtype: float64

In [158]:
# Calculate the average math score for 9th grade in each school
grade_9 = school_complete[school_complete['grade']=='9th']
grade_9.groupby('School ID')['math_score'].mean()

School ID
0     77.027251
1     76.403037
2     83.420755
3     77.438495
4     82.044010
5     83.085578
6     83.094697
7     77.083676
8     83.787402
9     83.625455
10    83.264706
11    76.859966
12    77.187857
13    77.361345
14    83.590022
Name: math_score, dtype: float64

In [161]:
# Calculate the average math score for 10th grade in each school
grade_10 = school_complete[school_complete['grade']=='10th']
grade_10.groupby('School ID')['math_score'].mean()

School ID
0     75.908735
1     76.539974
2     82.917411
3     77.337408
4     84.229064
5     83.724422
6     83.154506
7     76.996772
8     83.429825
9     83.372000
10    84.010288
11    76.612500
12    76.691117
13    77.672316
14    83.087886
Name: math_score, dtype: float64

In [160]:
# Calculate the average math score for 11th grade in each school
grade_11 = school_complete[school_complete['grade']=='11th']
grade_11.groupby('School ID')['math_score'].mean()

School ID
0     76.446602
1     76.884344
2     83.383495
3     77.136029
4     83.842105
5     83.195326
6     82.765560
7     77.515588
8     85.000000
9     84.328125
10    83.836782
11    76.395626
12    77.491653
13    76.918058
14    83.498795
Name: math_score, dtype: float64

In [159]:
# Calculate the average math score for 12th grade in each school
grade_12 = school_complete[school_complete['grade']=='12th']
grade_12.groupby('School ID')['math_score'].mean()

School ID
0     77.225641
1     77.151369
2     83.778976
3     77.186567
4     83.356164
5     83.035794
6     83.277487
7     76.492218
8     82.855422
9     84.121547
10    83.644986
11    77.690748
12    76.863248
13    76.179963
14    83.497041
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [157]:
# Create table that lists the average reading score for each school of each grade level.
school_complete.groupby('grade')['reading_score'].mean()

grade
10th    81.874410
11th    81.885714
12th    81.819851
9th     81.914358
Name: reading_score, dtype: float64

In [163]:
# Calculate the average reading score for 9th grade in each school
read_9 = school_complete[school_complete['grade']=='9th']
read_9.groupby('School ID')['reading_score'].mean()

School ID
0     81.290284
1     81.198598
2     84.122642
3     80.866860
4     83.369193
5     83.939778
6     83.676136
7     81.303155
8     83.677165
9     83.807273
10    83.833333
11    80.993127
12    81.260714
13    80.632653
14    83.728850
Name: reading_score, dtype: float64

In [166]:
# Calculate the average reading score for 10th grade in each school
read_10 = school_complete[school_complete['grade']=='10th']
read_10.groupby('School ID')['reading_score'].mean()

School ID
0     81.512386
1     81.408912
2     83.441964
3     80.660147
4     83.706897
5     84.021452
6     84.253219
7     80.907183
8     83.324561
9     83.612000
10    83.812757
11    80.629808
12    80.773431
13    81.262712
14    84.254157
Name: reading_score, dtype: float64

In [165]:
# Calculate the average reading score for 11th grade in each school
read_11 = school_complete[school_complete['grade']=='11th']
read_11.groupby('School ID')['reading_score'].mean()

School ID
0     81.417476
1     80.640339
2     84.373786
3     81.396140
4     84.288089
5     83.764608
6     83.788382
7     80.945643
8     83.815534
9     84.335938
10    84.156322
11    80.864811
12    80.616027
13    80.403642
14    83.585542
Name: reading_score, dtype: float64

In [164]:
# Calculate the average reading score for 12th grade in each school
read_12 = school_complete[school_complete['grade']=='12th']
read_12.groupby('School ID')['reading_score'].mean()

School ID
0     80.305983
1     81.384863
2     82.781671
3     80.857143
4     84.013699
5     84.317673
6     84.287958
7     80.912451
8     84.698795
9     84.591160
10    84.073171
11    80.376426
12    81.227564
13    80.662338
14    83.831361
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [167]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate