# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [288]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "C:/Users/Vinny/Desktop/Vinny/School/DS311-Technologies-in-Data-Analytic-FA23/Week_03_Pandas_and_Matplotlib/Lab_Assignment/data/schools_complete.csv"
student_data_to_load = "C:/Users/Vinny/Desktop/Vinny/School/DS311-Technologies-in-Data-Analytic-FA23/Week_03_Pandas_and_Matplotlib/Lab_Assignment/data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [289]:
# Create a District Summary
school_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [290]:
# Total number of schools
school_complete['School ID'].nunique()

15

In [291]:
# Total number of students
len(school_complete['Student ID'])

39170

In [292]:
# Total budget
sum(school_complete['budget'].unique())

24649428

In [293]:
# Average math score
school_complete['math_score'].mean()

78.98537145774827

In [294]:
# Average reading score
school_complete['reading_score'].mean()

81.87784018381414

In [295]:
# Overall average score
(school_complete['math_score'].mean() + school_complete['reading_score'].mean())/2

80.43160582078121

In [296]:
# Percentage of passing math (70 or greater)
len(school_complete[school_complete['math_score']>=70])/len(school_complete['math_score'])

0.749808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [297]:
#  Sort and display the top five schools in overall passing rate

passing=school_complete[(school_complete['math_score']>=70) & (school_complete['reading_score']>=70)]

passing.groupby('School ID')['math_score'].size()/school_complete.groupby('School ID')['math_score'].size()

rate=(passing.groupby('School ID')['math_score'].size()+passing.groupby('School ID')['reading_score'].size())/(2*school_complete.groupby('School ID')['math_score'].size())

rate.sort_values(ascending=False).head(5)

School ID
6     0.913348
14    0.909480
4     0.905995
5     0.905826
9     0.905405
dtype: float64

In [305]:
# Calculate total school budget

budg=school_complete.groupby('School ID')['budget'].unique()
budg

# This shows the total budget for each school

School ID
0     [1910635]
1     [1884411]
2     [1056600]
3     [3022020]
4      [917500]
5     [1319574]
6     [1081356]
7     [3124928]
8      [248087]
9      [585858]
10    [1049400]
11    [2547363]
12    [3094650]
13    [1763916]
14    [1043130]
Name: budget, dtype: object

In [306]:
# Calculate per student budget
stud=school_complete.groupby('School ID')['Student ID'].nunique()
budg/stud

# This shows the budget per student for each school

School ID
0     [655.0]
1     [639.0]
2     [600.0]
3     [652.0]
4     [625.0]
5     [578.0]
6     [582.0]
7     [628.0]
8     [581.0]
9     [609.0]
10    [583.0]
11    [637.0]
12    [650.0]
13    [644.0]
14    [638.0]
dtype: object

In [307]:
# Cacluate the avg math and reading score
print(school_complete['math_score'].mean())
print(school_complete['reading_score'].mean())

78.98537145774827
81.87784018381414

#### Find the passing rate for math and reading (above 70 points)

In [308]:
# Find the total counts of math result
math_total=len(school_complete['math_score'])

# Find the counts for math result in each school that pass 70 or higher
math_pass=len(school_complete[school_complete['math_score']>=70])

# Calculate the math passing rate
math_overall=math_pass/math_total
math_overall

0.749808526933878

In [309]:
# Find the total counts of read result
read_total=len(school_complete['reading_score'])

# Find the counts for read result in each school that pass 70 or higher
read_pass=len(school_complete[school_complete['reading_score']>=70])

# Calculate the read passing rate
read_overall=read_pass/read_total
read_overall

0.8580546336482001

In [310]:
# Calculate the overall passing rate (average of the math and reading passing rate)
(math_overall+read_overall)/2

0.8039315802910391

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [311]:
#  Sort and display the worst five schools in overall passing rate

rate.sort_values(ascending=False).tail(5)

School ID
12    0.535392
3     0.535275
0     0.535139
1     0.532045
11    0.529882
dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [312]:
# Create table that lists the average math score for each school of each grade level.

school_complete.groupby('grade')['math_score'].mean()

grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659
Name: math_score, dtype: float64

In [313]:
# Calculate the average math score for 9th grade in each school
grade_9 = school_complete[school_complete['grade']=='9th']
grade_9.groupby('School ID')['math_score'].mean()

School ID
0     77.027251
1     76.403037
2     83.420755
3     77.438495
4     82.044010
5     83.085578
6     83.094697
7     77.083676
8     83.787402
9     83.625455
10    83.264706
11    76.859966
12    77.187857
13    77.361345
14    83.590022
Name: math_score, dtype: float64

In [314]:
# Calculate the average math score for 10th grade in each school
grade_10 = school_complete[school_complete['grade']=='10th']
grade_10.groupby('School ID')['math_score'].mean()

School ID
0     75.908735
1     76.539974
2     82.917411
3     77.337408
4     84.229064
5     83.724422
6     83.154506
7     76.996772
8     83.429825
9     83.372000
10    84.010288
11    76.612500
12    76.691117
13    77.672316
14    83.087886
Name: math_score, dtype: float64

In [315]:
# Calculate the average math score for 11th grade in each school
grade_11 = school_complete[school_complete['grade']=='11th']
grade_11.groupby('School ID')['math_score'].mean()

School ID
0     76.446602
1     76.884344
2     83.383495
3     77.136029
4     83.842105
5     83.195326
6     82.765560
7     77.515588
8     85.000000
9     84.328125
10    83.836782
11    76.395626
12    77.491653
13    76.918058
14    83.498795
Name: math_score, dtype: float64

In [316]:
# Calculate the average math score for 12th grade in each school
grade_12 = school_complete[school_complete['grade']=='12th']
grade_12.groupby('School ID')['math_score'].mean()

School ID
0     77.225641
1     77.151369
2     83.778976
3     77.186567
4     83.356164
5     83.035794
6     83.277487
7     76.492218
8     82.855422
9     84.121547
10    83.644986
11    77.690748
12    76.863248
13    76.179963
14    83.497041
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [317]:
# Create table that lists the average reading score for each school of each grade level.
school_complete.groupby('grade')['reading_score'].mean()

grade
10th    81.874410
11th    81.885714
12th    81.819851
9th     81.914358
Name: reading_score, dtype: float64

In [318]:
# Calculate the average reading score for 9th grade in each school
read_9 = school_complete[school_complete['grade']=='9th']
read_9.groupby('School ID')['reading_score'].mean()

School ID
0     81.290284
1     81.198598
2     84.122642
3     80.866860
4     83.369193
5     83.939778
6     83.676136
7     81.303155
8     83.677165
9     83.807273
10    83.833333
11    80.993127
12    81.260714
13    80.632653
14    83.728850
Name: reading_score, dtype: float64

In [319]:
# Calculate the average reading score for 10th grade in each school
read_10 = school_complete[school_complete['grade']=='10th']
read_10.groupby('School ID')['reading_score'].mean()

School ID
0     81.512386
1     81.408912
2     83.441964
3     80.660147
4     83.706897
5     84.021452
6     84.253219
7     80.907183
8     83.324561
9     83.612000
10    83.812757
11    80.629808
12    80.773431
13    81.262712
14    84.254157
Name: reading_score, dtype: float64

In [320]:
# Calculate the average reading score for 11th grade in each school
read_11 = school_complete[school_complete['grade']=='11th']
read_11.groupby('School ID')['reading_score'].mean()

School ID
0     81.417476
1     80.640339
2     84.373786
3     81.396140
4     84.288089
5     83.764608
6     83.788382
7     80.945643
8     83.815534
9     84.335938
10    84.156322
11    80.864811
12    80.616027
13    80.403642
14    83.585542
Name: reading_score, dtype: float64

In [321]:
# Calculate the average reading score for 12th grade in each school
read_12 = school_complete[school_complete['grade']=='12th']
read_12.groupby('School ID')['reading_score'].mean()

School ID
0     80.305983
1     81.384863
2     82.781671
3     80.857143
4     84.013699
5     84.317673
6     84.287958
7     80.912451
8     84.698795
9     84.591160
10    84.073171
11    80.376426
12    81.227564
13    80.662338
14    83.831361
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [322]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [404]:
# Create a new column to show budget per student in each row
stud=school_complete.groupby('School ID')['Student ID'].nunique()

df=pd.DataFrame(stud)
df.columns=['total_students']

df['per_student']=budg/stud
df['avg_math']=school_complete.groupby('School ID')['math_score'].mean()
df['avg_reading']=school_complete.groupby('School ID')['reading_score'].mean()
df['overall_passing']=rate


math_rate=passing.groupby('School ID')['math_score'].size()/(school_complete.groupby('School ID')['math_score'].size())
reading_rate=passing.groupby('School ID')['reading_score'].size()/(school_complete.groupby('School ID')['math_score'].size())

df['math_rate']=math_rate
df['reading_rate']=reading_rate
df['type']=school_complete.groupby('School ID')['type'].unique()


df['spending_range'] = pd.cut(df['per_student'], bins=spending_bins, labels=group_names)
df.head()

,total_students,per_student,avg_math,avg_reading,overall_passing,math_rate,reading_rate,type,spending_range
School ID,,,,,,,,,
0,2917,[655.0],76.629414,81.182722,0.535139,0.535139,0.535139,[District],$645-675
1,2949,[639.0],76.711767,81.158020,0.532045,0.532045,0.532045,[District],$615-645
2,1761,[600.0],83.359455,83.725724,0.898921,0.898921,0.898921,[Charter],$585-615
3,4635,[652.0],77.289752,80.934412,0.535275,0.535275,0.535275,[District],$645-675
4,1468,[625.0],83.351499,83.816757,0.905995,0.905995,0.905995,[Charter],$615-645

In [378]:
# Create a new column to define the spending ranges per student
df['spending_range'] = pd.cut(df['per_student'], bins=spending_bins, labels=group_names)

In [379]:
# Calculate the average math score within each spending range

df.groupby('spending_range')['avg_math'].mean()

spending_range
<$585       83.455399
$585-615    83.599686
$615-645    79.079225
$645-675    76.997210
Name: avg_math, dtype: float64

In [380]:
# Calculate the percentage passing rate for math in each spending range

df.groupby('spending_range')['math_rate'].mean()

spending_range
<$585       0.903695
$585-615    0.902163
$615-645    0.661121
$645-675    0.535269
Name: math_rate, dtype: float64

In [381]:
# Calculate the percentage passing rate for reading in each spending range

df.groupby('spending_range')['avg_reading'].mean()

spending_range
<$585       83.933814
$585-615    83.885211
$615-645    81.891436
$645-675    81.027843
Name: avg_reading, dtype: float64

In [382]:
# Calculate the percentage overall passing rate in each spending range

df.groupby('spending_range')['reading_rate'].mean()

spending_range
<$585       0.903695
$585-615    0.902163
$615-645    0.661121
$645-675    0.535269
Name: reading_rate, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [383]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_name = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [384]:
# Create a new column for the bin groups

df['school_size'] = pd.cut(df['total_students'], bins=size_bins, labels=group_name)

df.head()

,total_students,per_student,avg_math,avg_reading,overall_passing,math_rate,reading_rate,type,spending_range,school_size
School ID,,,,,,,,,,
0,2917,[655.0],76.629414,81.182722,0.535139,0.535139,0.535139,[District],$645-675,Large (2000-5000)
1,2949,[639.0],76.711767,81.158020,0.532045,0.532045,0.532045,[District],$615-645,Large (2000-5000)
2,1761,[600.0],83.359455,83.725724,0.898921,0.898921,0.898921,[Charter],$585-615,Medium (1000-2000)
3,4635,[652.0],77.289752,80.934412,0.535275,0.535275,0.535275,[District],$645-675,Large (2000-5000)
4,1468,[625.0],83.351499,83.816757,0.905995,0.905995,0.905995,[Charter],$615-645,Medium (1000-2000)

Look for the total count of test scores that pass 70% or higher

In [385]:
# math_pass_size

math_pass=df['math_rate'] >= 0.70
total_math=df[math_pass]
total_math['total_students'].sum()

12194

In [386]:
# read_pass_size

reading_pass=df['reading_rate'] >= 0.70
total_reading=df[reading_pass]
total_reading['total_students'].sum()

12194

In [336]:
# Calculate the overall passing rate for different school size
df.groupby('school_size')['overall_passing'].mean()

school_size
Small (<1000)         0.898839
Medium (1000-2000)    0.906215
Large (2000-5000)     0.582860
Name: overall_passing, dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [407]:
# Create bins and groups, school type {'Charter', 'District'}

df.groupby(['type', pd.cut(df.type, ['Charter', 'District'])])

ValueError: could not convert string to float: 'Charter'

Find counts of the passing 70 or higher score for the both test

In [401]:
# math pass size

School ID
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
Name: type, dtype: bool

In [ ]:
# reading pass size

In [402]:
# Calculate the overall passing rate
df.groupby(type)['overall_passing'].mean()

School ID
<class 'int'>    0.732776
Name: overall_passing, dtype: float64